body {
  margin: 0;
}
.registerContainer {
  height: 100vh;
  background: url("../../assets/background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
}
.registerFormWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  width: 60vh;
}

.header,
.paragaph-one {
  color: white;
  font-family: cursive;
  font-weight: bolder;
}
.paragaph-one {
  font-size: large;
  font-weight: bold;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

input {
  padding: 10px;
  width: 40vh;
  border: none;
  border-radius: 5px;
}
input::placeholder {
  font-family: cursive;
  text-align: center;
}
input:focus {
  outline: none;
  box-shadow: 0 0 0 3px dodgerblue;
}

button {
  padding: 10px;
  border-radius: 10px;
  border: 0;
  color: #fff;
  background-color: dodgerblue;
  font-weight: bold;
}
button:hover {
  cursor: pointer;
  background-color: green;
  padding: 12px;
}
.formLink {
  text-decoration: none;
  color: greenyellow;
}
